.textSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  width: 100%;
  overflow: hidden;

  & svg {
    max-width: 400px;
    height: auto;
  }
}

.armor {
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  place-content: center;
  position: relative;
}

.loader {
  transition: opacity var(--durationL) var(--bezierFastoutSlowin);
  opacity: 0;

  &[data-visible='true'] {
    opacity: 1;
  }
}

.canvas {
  transition: opacity var(--durationXL) var(--bezierFastoutSlowin);
  position: absolute;
  opacity: 0;
  inset: 0;
  z-index: 1;

  &[data-loaded='true'] {
    opacity: 1;
  }
}
.model {
  --width: 180%;
  --aspectRatio: 10 / 8;

  min-width: var(--width);
  aspect-ratio: var(--aspectRatio);
  display: grid;
  position: relative;
  z-index: 1;
  max-width: 1000px;
  min-width: 350px;

  &[data-device='laptop'] {
    top: 6%;
    left: 14%;

    @media (--mediaDesktop) {
      --width: 180%;
    }

    @media (--mediaTablet) {
      --width: 140%;

      top: 10%;
      left: 0;
    }
  }

  &[data-device='phone'] {
    --width: 100%;
    --aspectRatio: 7 / 10;

    top: 5%;
    left: 10%;

    @media (--mediaDesktop) {
      --width: 100%;

      left: 0;
    }

    @media (--mediaTablet) {
      --width: 108%;

      left: 0;
      max-height: 60vh;
    }

    @media (--mediaMobile) {
      --width: 100%;

      left: 0;
      max-height: none;
    }
  }
}

.svg {
  opacity: 0;
  transition: opacity 1200ms ease 1400ms;
  fill: var(--textTitle);
  z-index: 0;

  &[data-visible='true'] {
    opacity: var(--opacity);
  }

  &[data-device='laptop'] {
    position: absolute;
    width: 45%;
    right: -1%;
    transform: translateY(50%);

    @media (--mediaTablet) {
      width: 80%;
      right: -10%;
      bottom: 18%;
    }

    @media (--mediaMobile) {
      right: 0;
    }
  }

  &[data-device='phone'] {
    position: absolute;
    bottom: 23%;
    transform: translateY(50%);
    width: 100%;
    transition-delay: 800ms;

    @media (--mediaTablet) {
      width: 80%;
      bottom: 23%;
    }
  }
}